<div class="cocktails-container">
  <% @cocktails.each do |cocktail| %>
    <div class="cocktail-card">
      <%= link_to cocktail_path(cocktail.id) do %>
        <%= cl_image_tag cocktail.photo, class:"cocktail-photo" %>
      <% end %>
      <h5><%= link_to "#{cocktail.name}", cocktail_path(cocktail.id) %></h5>
    </div>
  <% end %>
</div>
