.cocktails-background {
  background-image: asset-url("bg-cocktail-index3.jpg");
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 85px);
}

.cocktails-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1vw;
  padding-right: 4vw;
  padding-left: 4vw;
  justify-content: center;
}

.cocktail-index-photo {
  height: 200px;
}
// .cocktail-index-photo {
//   img {
//     max-height: 300px;
//   }
// }

.cocktail-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  align-items: center;
  a {
    text-decoration: none;
    color: #f2c3c4;
    text-transform: uppercase;
    img {
      margin: auto;
      -webkit-filter: drop-shadow(2px 2px 12px #ffffff);
      filter: drop-shadow(2px 2px 12px #ffffff);
    }
  }
  h5 {
    color: white;
    text-shadow: 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white;
    padding: 5px;
  }
}
