<nav class="navbar navbar-light bg-light">
  <ul class="navbar-container">
    <span>
      <li>
        <%= link_to 'Mister Cocktail', cocktails_path, id:"logo-main" %>
      </li>
    </span>
    <span class="nav-right">
      <li>
        <%= link_to "Add a cocktail", new_cocktail_path, class:"btn-add-cocktail" %>
      </li>
    </span>
  </ul>
</nav>
