.navbar {
  margin-bottom: 0px;
  border: none;
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 20px;
  list-style: none;
  border-bottom: 1px solid #ffffff5e;
  margin-bottom: 0px;
  background-color: #ea9897;

  #logo-main {
    font-family: "Rock Salt";
    font-size: 30px;
    text-decoration: none;
    color: white;
  }

  .btn-add-cocktail {
    color: #a9a9a9;
    margin-left: 25px;
    color: #ffe7e7
  }

  .nav-right {
    display: flex;
    align-items: center;
  }
}

#btn-search-navbar {
  margin-top: -1px;
  background-color: #ed9ca0;
  color: white;
}
